events {
    worker_connections 1024;
}

http {
    server {
        listen      443 ssl;
        server_name ${DOMAIN} www.${DOMAIN};
        root    /var/www/public/html;
        ssl_certificate     /etc/nginx/cert/${SSL_CERT};
        ssl_certificate_key /etc/nginx/cert/${SSL_KEY};
        ssl_password_file   /etc/nginx/cert/${SSL_PASS};
        ssl_protocols       TLSv1.2 TLSv1.3;
        ssl_session_timeout 10m;
        keepalive_timeout 70;
        index index.html;
    }
}
